# Python
__pycache__/
*.pyc
.venv/

# Database
*.db

# Environment variables
.env

# Node modules
node_modules/

# Build files
dist/
build/

# VS Code
.vscode/

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/